.cardContainer {
    display: inline-block;
    width: 15em;
    height: 20em;
    margin: .8em;
    border: none;
    border-radius: 3em;
    padding: 0 .8em;
    box-shadow: 2px 2px 5px 1px #ccc;
}

.cardContainer_button {
    background-color: rgb(252, 78, 78);
    color: #fff;
    border: none;
    width: 2em;
    border-radius: 40%;
    display: inline-block;
    margin: 8px 77%;
}